<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
      		<div class="col-md-4">
      			<table class="table">
 					<tbody>
 						<tr>
							<td><%= @user.interests %></td>
						</tr>
						<tr>
							<td><%= link_to('Back', @user) %></td>
						</tr>
					</tbody>
			</div>
		</div>
	</div>
</div>

